
@media (max-width: 768px) {
    .logo img {
        width: 175px;
    }
    
    .header__burger {
        display: flex;
    }
    .menu__list {
        position: absolute;
        flex-direction: column;
        gap: 30px;
        left: 0;
        top: 0;
        background-color: var(--color-primary);
        height: 100vh;
        width: 100%;
        justify-content: center;
        z-index: 3;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s ease;
    }
    .header.active .menu__list {
        opacity: 1;
        pointer-events: all;
    }
    .menu__item-link {
        display: block;
        padding: 10px;
        border-bottom: 0;
    }
    .menu__item-link:hover {
        border-bottom: 0;
    }
}